.obj-middle-title {
  font-size: 20px;
  font-weight: bold;
}

.blue-btn {
  background-color: #004BB1;
  color: #F7F7F7;
  height: 35px;
  padding: 8px 40px;
  border-radius: 24px;
  cursor: pointer;
}


.red-btn {
  background-color: #B10000;
  color: #F7F7F7;
  height: 35px;
  padding: 8px 40px;
  border-radius: 24px;
  cursor: pointer;
}