.comp-header {
  height: 70px;
  background-color: #3F96FC;

  .lay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 40px;
    height: 100%;

    .lay-header-left {
      .obj-header-title {
        a {
          text-decoration: none;
          color: #ffffff;

          &:hover {
            border-bottom: solid;
          }
        }

      }
    }

    .lay-header-right {
      ul {
        display: flex;
        li {
          list-style: none;
        }

        a {
          text-decoration: none;
          margin-left: 40px;
          li {
            list-style: none;
          }
        }
      }

    }
  }


}