.container {
  display: flex;
  padding: 30px;

  // 左要素
  .snippet-left {
    max-width: 35vw;
    width: 100%;
    padding-right: 30px;

    //言語絞り込み
    .comp-select-snippet {
      .lay-select-language-form {
        margin-top: 10px;
        border-bottom: #2E2F30 solid 1px;
        display: flex;
        cursor: pointer;

        .obj-selected_language {
          input {
            outline: none;
            cursor: pointer;
          }

        }

        .obj-icon-row-arrow {
          margin-left: auto;

          &:after {
            display: inline-block;
            content: "";
            height: 25px;
            width: 25px;
            background-image: url(image-path("arrow_drop_down.svg"));
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }

        .lay-modal-dropdown-menu {
          z-index: 10;
          position: absolute;
          top: 172px;
          left: 30px;
          width: calc(35vw - 30px);
          padding-top: 10px;
          background-color: #F7F7F7;
          box-shadow: 0 5px 10px rgba(0, 0, 0, .6);

          li {
            list-style: none;
            cursor: pointer;
            padding-left: 10px;

            &:hover {
              background-color: #BBBBBB;
            }
          }
        }

      }
    }

    //スニペットタイトル一覧
    .comp-snippet-title-list {
      margin-top: 60px;

      .comp-snippet-title {
        margin-top: 5px;

        .lay-snippet-title {
          line-height: 16px;
          border-bottom: #707070 solid 1px;
          cursor: pointer;
          padding: 10px 0; /* 内容と線との間隔量 */
          &:hover {
            background-color: #BBBBBB;
          }
        }
      }
    }
  }

  // 右半分
  .snippet-right {
    max-width: 65vw;
    width: 100%;


    //スニペット検索
    .lay-search-snippet {
      display: flex;

      .lay-new-snippet {
        min-width: 222px;
      }

      .lay-snippet-search-form {
        margin-left: 20px;
        width: 100%;
        display: flex;

        .obj-snippet-search-title {
          min-width: 100px;
        }

        .obj-snippet-search_area {
          width: 100%;
          margin-left: 10px;
          border-bottom: #707070 solid 1px;

          input:focus {
            outline: none;
            width: 100%;
          }
        }
      }
    }

    //スニペットカードリスト
    .lay-snippet-card-list {
      padding-top: 10px;

      //スニペットカード
      .comp-snippet-card {
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
        padding: 20px;
        border-radius: 5px;
        height: 260px;
        width: 100%;
        margin-top: 30px;

        .obj-snippet-title {
          font-size: 24px;
          font-weight: bold;
        }

        .obj-snippet-contents {
          margin-top: 10px;
          height: 125px;
          overflow: scroll;
        }

        .lay-snippet-option {
          margin-top: 20px;
          display: flex;

          .lay-snippet-card-btn {

            .obj-snippet-card-edit {
            }

            .obj-snippet-card-delete {
              margin-left: 10px;

            }
          }

          .obj-snippet-card-top {
            margin-left: auto;
            cursor: pointer;
            color: #004BB1;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

}